{% extends 'layout.html' %}
{% block content %}
        <div class = "jumbotron">
        <h1 class ="display-4" style = "text-align: center;">Forgot Password </h1><br>       
        <form action = "{{ url_for('passwordupdate') }}" method = "POST">
                <div class = "form-group">
                        <input type = "text" name = "email" class = "form-control" required placeholder="Email Address">
                </div>
                <div class = "form-group">
                        <input type = "password" name = "password" class = "form-control" required placeholder="New Password">
                </div> 
                <div class = "row">
                        <div class = "col-sm-12">
                                <div class = "text-center">
                                        <button type = "submit" class = "btn btn-warning">Update Password &#9986;</button>   
                                </div>
                        </div>
                </div>          
        </form>
{% endblock %}