<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if title %}
                <title>{{ title }}</title>
        {% else %}
                <title>FestHive</title>
        {% endif %}
        <link rel = stylesheet href = "/static/css/main.css">
        <link rel = stylesheet href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head> 
<body>
        {% include 'includes/_navbar.html' %}
        <hr>
        <div class = "container">
                {% include 'includes/_messages.html' %}
                {% block content %}
                {% endblock %}
        </div>
        <div style="margin-top: 200px;">
        </div>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>