{% extends 'layout.html' %}
{% block content %}
        <div class = "jumbotron">
        <h1 class ="display-4" style = "text-align: center;">Register </h1><br>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="">
                <div class="form-group">
                        {{ render_field(form.name, class_="form-control") }}
                </div>
                <div class="form-group">
                        {{ render_field(form.email, class_="form-control") }}
                </div>
                <div class="form-group">
                        {{ render_field(form.phone, class_="form-control") }}
                </div>
                <div class="form-group">
                        {{ render_field(form.college, class_="form-control") }}
                </div>
                <div class="form-group">
                        {{ render_field(form.password, class_="form-control") }}
                </div>
                <div class="form-group">
                        {{ render_field(form.confirm, class_="form-control") }}
                </div>
                <div class = "row">
                        <div class = "col-sm-12">
                                <div class = "text-center">
                                        <button type = "submit" class = "btn btn-success">Sign Up &#9755;</button> 
                                </div>
                        </div>
                </div>
        </form>
        </div>
{% endblock %}